@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: rgb(222, 135, 186);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin: 1rem;
    color: blue;
    background-color: transparent;
    padding: 0.5rem;

}

h1 {
    color: rgb(46, 67, 185);
}

input {
    margin: 0.5rem;
    width: 100%;
}

main {
    width: 50%;
    margin: auto;
}